.box{
    height: 100vh;
    width: 100%;
    display: flex;
}

.first{
    height: 100vh;
    width: 50%;
    background-color: #4b7491;
    margin-top: 100px;
}

.second{
    margin-top: 100px;
    height: 100vh;
    width: 50%;
/* 
    background-image: url("../../../src/assets/image.png");
    background-size: cover;
} */
}
.second img {
   height: 100vh;
}

.first-child{
    margin: 100px;
}

.book{
    display: flex;
    color: #f8d226;
    margin-bottom: 10px;
    font-size: 20px;
}

.first h1{
    font-size:50px ;
    color: white;
    margin-bottom: 20px;
}

.first span{
    color: #f8d226;
}

.first p{
    color: #f8d226;
    font-size: 20px;
    margin-bottom: 20px;
}

.buttons button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #f8d226;
    color: white;
    font-size: 15px;
    transition: background-color 0.5s ease-in-out ;
}

.buttons button:hover{
    background-color: #003a63;
}

