.navbar {
    height: 100px;
    width: 100%;
    background-color: rgb(18, 54, 107) ;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.navbar img{
    height: 70px;
    width: 70px;
    margin-left: 20px;
    margin: 15px;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    justify-content: end;
}

.navbar i{
    
    margin-right: 20px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
  
    font-size: 21px;
    font-weight: 600;
    color: rgb(248, 203, 54);
}

.menu li{
    display: inline;
    margin: 10px;
    border-bottom: 2px solid transparent; 
    transition: border-bottom 0.55s ease-in;
}
.menu li:hover{
    border-bottom: 2px solid rgb(248, 203, 54);
    
}

.menu li a{
    text-decoration: none;
    color: white;
}
