
.navbar{
    height: 100px;
    width: 100%;
    background-color: #003a63;
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    position: fixed;
   

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

.navbar img{
    height: 70px;
    margin-left: 20px;

}
/* Navbar menu bar */
.menu {
    display: flex;
    
}
.menu ul li {
    list-style: none;
    gap: 30px;
}

.menu ul {
    display: flex;
    gap: 40px;
    margin: auto;
    
}

.menu  {
    font-size: 22px;
}
.menu li {
    border-bottom:  3px solid  #003a63;
    transition: border-bottom 0.45s ease-in;
}

.menu li:hover{
    border-bottom: 3px solid white;
    
}

.menu li a {
    color: white;
    text-decoration: none;
}
 
/* navbar search icon */
.search-btn i {
    margin-right: 30px;
    font-size: 30px;
    ;
}


